<style>
    .reqContainer{
        height: 81px;
        border-radius: 5px;
        box-shadow: 0px 3px 5px #aaa;
        padding: 20px;
        margin-bottom: 20px;
    }
    .self_item{
        height: 100%;
        display: inline-block;
        width: 40px;
        background: linear-gradient(#FBD08C,#FFAE00);
        border-radius: 5px;
        text-align: center;
    }
    .self_item i{
        color:#fff;
        position: relative;
        top: 9px;
        font-size: 24px;
    }
    .self_text{
        color:#022D68;
        text-transform: capitalize;
    }
    .sub_text{
        font-weight: 100;
        font-size: 14px;
        color: #ACACAC;
        text-transform: capitalize;
        height: 20px;
        overflow:hidden;
    }
</style>
<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div   class="demo-grid-sizes demo-flex-display">
            
            <oj-bind-if test="[[testIcon()]]">
                <!--ko foreach: cats -->
                <div class="oj-flex reqContainer" on-click='[[$parent.iconNavigation]]'>
                    <div class="oj-sm-2  oj-flex-item oj-sm-padding-2x-horizontal ">
                        <div class="self_item">
                            <i class="fa fa-users"></i> 
                            
                        </div>

                    </div>
                    <div class="oj-sm-10 oj-flex-item oj-sm-padding-2x-horizontal">
                        <div class="self_text" data-bind="text: label"> </div>
                        <!--<div class="sub_text" data-bind="text: description"> </div>-->
                    </div>

                </div>
                <!--/ko-->
               
            </oj-bind-if>
        </div>
    </div>
</div>
<span class="oj-navigationlist-item-label"></span>