<style>
    oj-module{
	padding: 0px!important;
    }

    body{
        background-color: #fff;
    }
    .new_btn{
        height: 36px;
        box-shadow: 0px 3px 6px #666;
        background: linear-gradient(#3EBC68, #2B8649);
        width: 39%;
        border-radius: 9px;
        font-size: 17px;
        color: #FFF;
        border: none;
    }

    .oj-dialog{
        background: #fff;
    }

    .oj-dialog-header{
        background-image: unset;
        padding: 22px;
    }


    .in_text{
        box-shadow:  0 6px 10px;
        border: 1px solid #D4D4D4;
    }

    .rowLine {
        /*margin-top: 15px;*/
        margin-bottom: 15px;
    }


    .standard_btn {
        box-shadow: 0px 2px 4px #999595;
        /*box-shadow: 0px 3px 6px #666;*/
        background: linear-gradient(#3EBC68, #2B8649);
        border-radius: 9px;
        font-size: 15px;
        color: #FFF;
        border: none;
        padding: 14px 17px; 
        width: 48%;
    }

    .outline_btn {
        box-shadow: 0px 2px 4px #d5d5d5;
        background: transparent;
        border-radius: 9px;
        font-size: 15px;
        color: #2B8649;
        border: 1px solid #2B8649;
        padding: 10px;  
        line-height: 23px;
        width: 48%;
    }


    .oj-listbox-drop:not(.oj-listbox-hide-hover) .oj-listbox-results .oj-hover{
        background: #f5f5f5;

    }

    .input-txt{
        /*        border: 1px solid #D4D4D4;*/
        box-shadow:0px 6px 10px #0000000D;
        border-radius: 10px;
        color: #B5B5B5;
        font-size: 13px;
        height: 50px;
        /*padding: 10px 0px;*/
    }

    .txt-label{
        color: #022D68;
        margin-bottom: 15px;
        font-size: 18px;
        font-family: poppins;
        font-weight: lighter;
    }


    .oj-radioset .oj-selected .oj-radiocheckbox-icon::before{
        color: #2B8649;
    }

    .oj-checkboxset .oj-selected .oj-radiocheckbox-icon::before{
        color: #2B8649;
    }

    .oj-radio-label.oj-selected,.oj-checkbox-label.oj-selected{
        color: #2B8649;
    }

    .oj-text-field-input{
        color:#B5B5B5;
    }


    .oj-radioset, .oj-checkboxset{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .j-forms .input *{
        width: 100%;
    }


    .clonedInput{
        margin-bottom: 15px;
    }

    .oj-conveyorbelt-overflow-indicator{
        width: 15px!important;
        border: unset!important;
        min-width: 10px;
    }

    .oj-conveyorbelt-overflow-indicator.oj-hover .oj-conveyorbelt-overflow-button, .oj-conveyorbelt-overflow-button:hover{

        background-color: unset!important;
    }

    .oj-text-field .oj-text-field-container{
        position: relative;
        box-sizing: border-box;
        border-style: solid;
        transition: border-color 0.1s linear;
        border-color: #D4D4D4;
        border-width: 1px;
        border-radius: 9px;
        background-color: var(--oj-text-field-bg-color);
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow: hidden;
        height: 100%;
    }

    .clon-input{
        border-radius: 9px;
        height: 40px;
        border: 1px solid #D4D4D4;
        background: #fff;
    }


    .clone_btn {
        box-shadow: 0px 2px 4px #999595;
        /*box-shadow: 0px 3px 6px #666;*/
        background: linear-gradient(#3EBC68, #2B8649);
        border-radius: 9px;
        font-size: 15px;
        color: #FFF;
        border: none;
        padding: 10px
    }

    .outline_clone_btn {
        box-shadow: 0px 2px 4px #d5d5d5;
        background: transparent;
        border-radius: 9px;
        font-size: 15px;
        color: #2B8649;
        border: 1px solid #2B8649;
        padding: 9px;  
    }

    .table_seg_header{
        margin-bottom: 8px;
    }


</style>
<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div   class="demo-grid-sizes demo-flex-display">
	    <div class="notificationDetailsHeader">
		<i class="notificationDetailsHeaderImg" data-bind="class:userInfo().iconName"></i>
		<span class="notificationDetailsHeaderTitle" data-bind='text:userInfo().requestName'></span>
		<span class="notificationDetailsHeaderDesc" data-bind='text:userInfo().creationDate'></span>
		<span class="notificationDetailsHeaderDesc" data-bind='text:"Created By / " + userInfo().createdBy'></span>
	    </div>
        </div>
	<div class="notificationDetailsBody">
	    <div class="notificationDetailsBodyBlock" style="margin-top: 30px;">
		<div class="notificationDetailsBodyBlockTitle">
		    <span>
			<i class="icofont icofont-business-man-alt-3"></i>
			Person Information
		    </span>
		</div>
		<hr/>
		<div class="row notificationRow">
		    <span class="leftRowContent">Full Name</span>
		    <span class="RightRowContent" data-bind="text:userInfo().userName"></span>
		</div>
		<div class="row notificationRow">
		    <span class="leftRowContent">Job Name</span>
		    <span class="RightRowContent" data-bind="text:userInfo().jobName"></span>
		</div>
		<div class="row notificationRow">
		    <span class="leftRowContent">Employee Number</span>
		    <span class="RightRowContent" data-bind="text:userInfo().employeeNumber"></span>
		</div>
		<div class="row notificationRow">
		    <span class="leftRowContent">Organization</span>
		    <span class="RightRowContent" data-bind="text:userInfo().department"></span>
		</div>
	    </div>
	    <div class="notificationDetailsBodyBlock" style="margin-top: 30px;">
		<div class="notificationDetailsBodyBlockTitle">
		    <span>
			<i class="icofont icofont-envelope"></i>
			Request Information
		    </span>
		</div>
		<hr/>
		<!-- ko foreach: userSeg() -->
		<oj-bind-if test='[[(segmentOutCheck && $parent.allowedToApprove)||!segmentOutCheck]]'>
		    <oj-bind-if test='[[!(prompt=="status" && !($parent.isHr || $parent.isIt))]]'>
			<oj-bind-if test='[[type=="note"]]'>
			    <div class="row notificationRow">
				<span class="leftRowContent" data-bind="text:segementName"></span>
				<span class="RightRowContent" data-bind="text:empValue"></span>
			    </div>
			</oj-bind-if>
			<oj-bind-if test='[[type=="table"]]'>
			    <div class="row notificationRow">
				<span class="leftRowContent" data-bind="text:segementName"></span>
				<oj-conveyor-belt id="conveyorBelt" class="oj-lg-6 oj-md-9 oj-sm-12 oj-flex-item" data-oj-binding-provider="none">
				    <div class="row j-forms col-12">
					<div id="upload_image_sets" style="width:100%!important;" :class="[['clone-rightside-btn-1']]">
					    <div class="row">
						<!--ko foreach: valueSets -->
						<div class="span6 col table_seg_header" ><!-- ko text:colName--><!-- /ko--></div>
						<!--/ko-->
					    </div>
					    <!-- ko foreach: {data: tableArr, as: 'item'} -->
					    <div :id="[['clonedInput'+($index()+1)]]" class="clonedInput j-row toclone-widget-right toclone row">
						<!--ko foreach: $parent.valueSets -->
						<oj-bind-if test='[[colType=="Input"]]'>
						    <div class="span6 unit col value">
							<div class="input">
							    <input type="text"   :class="[['cell_'+segmentId+'_'+colId+' clon-input']]"  data-bind="value: item[colName]"  readonly="true"/>
							</div>
						    </div>
						</oj-bind-if>

						<oj-bind-if test='[[colType=="Date"]]'>
						    <div class="span6 unit col value">
							<div class="input">
							    <input type="text"   :class="[['cell_'+segmentId+'_'+colId+' clon-input']]"  data-bind="value: item[colName]"  readonly="true"/>
							</div>
						    </div>
						</oj-bind-if>

						<oj-bind-if test='[[colType=="Select"]]'>
						    <div class="span6 unit col value">
							<div class="input">
							    <input type="text"   :class="[['cell_'+segmentId+'_'+colId+' clon-input']]"  data-bind="value: $parents[2].selectLabelValue(selectValueSets,item[colName])"  readonly="true"/>
							</div>
						    </div>
						</oj-bind-if>
						<oj-bind-if test='[[colType==""]]'>
						    <div class="span6 unit col value">
							<div class="input">
							    <input type="text"   :class="[['cell_'+segmentId+'_'+colId+' clon-input']]"  data-bind="value: item[colName]"  readonly="true"/>
							</div>
						    </div>
						</oj-bind-if>

						<!--/ko-->

					    </div>
					    <!--/ko-->
					</div>
				    </div>
				</oj-conveyor-belt>
			    </div>
			</oj-bind-if>
			<oj-bind-if test='[[type!="note" && type != "table"]]'>
			    <!--<oj-bind-if test='[[type!="formula"]]'>-->
			    <div class="row notificationRow">
				<span class="leftRowContent" data-bind="text:segementName"></span>
				<oj-bind-if test='[[type=="input"]]'>
				    <oj-input-text class="RightRowContent" value="{{empValue}}" disabled='[[$parent.inputState]]'></oj-input-text>
				</oj-bind-if>
				<oj-bind-if test='[[type=="number"]]'>
				    <oj-input-number converter= '{"type":"number","options": {"style": "decimal", "roundingMode": "HALF_DOWN","maximumFractionDigits": 0, "useGrouping": false}}' class="RightRowContent" step=1 disabled='[[$parent.inputState]]' on-keyup="{{$parent.getInputNumberValue}}" value="{{$parent.getNumeric(empValue)}}" on-value-changed="{{$parent.getInputNumberValue}}" min="1" on-keypress=[[$parent.eatNonNumbers]]></oj-input-number>
				    <!-- $parent.getNumeric(empValue) -->
				</oj-bind-if>
				<oj-bind-if test='[[type=="file" && empValue && fileArr ]]'>
				    <div class="RightRowContent row">
					<!-- ko foreach: fileArr -->
					<a class="col-12" style="overflow: auto; "target="_blank" :href="[[$parents[1].downloadPath+uniqueName]]"><oj-bind-text value="[[displayName]]"></oj-bind-text></a>
					<!--/ko-->
				    </div>
				</oj-bind-if>

				<oj-bind-if test='[[type=="file" && empValue && fileArr.length==0 ]]'>
				    <div class="RightRowContent row">

					<a class="col-12" target="_blank"style="overflow: auto; " :href="[[$parent.downloadPath+empValue]]"><oj-bind-text value="[[empValue]]"></oj-bind-text></a>

				    </div>
				</oj-bind-if>


				<oj-bind-if test='[[type=="date"]]'>
				    <oj-input-date converter=[[$parent.dateConverter]]  class="RightRowContent"  disabled='[[$parent.inputState]]' value="{{empValue}}"></oj-input-date>
				</oj-bind-if>
				<oj-bind-if test='[[type=="textarea"]]'>
				    <oj-text-area class="RightRowContent" disabled='[[$parent.inputState]]' value="{{empValue}}"></oj-text-area>
				</oj-bind-if>
				<oj-bind-if test='[[type=="radiobutton"]]'>
				    <oj-radioset class="RightRowContent" disabled='[[$parent.inputState]]' value="{{empValue}}" options="[[$parent.createDataProvider(valueSets)]]">

				    </oj-radioset>
				</oj-bind-if>
				<oj-bind-if test='[[type=="checkbox"]]'>
				    <oj-checkboxset class="RightRowContent"  disabled='[[$parent.inputState]]' on-value-changed="{{$parent.getCheckBoxValue}}" value="{{$parent.setCheckVal(empValue)}}" options="[[$parent.createDataProvider(valueSets)]]">

				    </oj-checkboxset>
				</oj-bind-if>

				<oj-bind-if test='[[type=="multiselect"]]'>
				    <oj-select-many class="RightRowContent"  disabled='[[$parent.inputState]]'  style="max-width:20em" value="{{empValue}}" options="[[valueSets]]">
				    </oj-select-many>
				</oj-bind-if>
				<oj-bind-if test='[[type=="select"]]'>
				    <oj-select-one class="RightRowContent"  disabled='[[$parent.inputState]]' value='{{empValue}}' options="{{valueSets}}">
				    </oj-select-one>
				</oj-bind-if>
				<oj-bind-if test='[[type=="formula"]]'>
				    <oj-text-area class="RightRowContent"  max-rows="1" rows="1"  value="{{empValue}}" disabled></oj-text-area>
				</oj-bind-if>
				<oj-bind-if test='[[type=="signature"]]'>
				    <oj-checkboxset disabled='[[$parent.inputState]]' on-value-changed="{{$parent.getCheckBoxValue}}" value="{{$parent.setCheckVal(empValue)}}">
					<oj-option value="[[reqCreatedBy]]"></oj-option>
				    </oj-checkboxset>
				    <img style="max-height: 100px" class="col-5" data-bind="attr: { src: signature }">
				</oj-bind-if>
				<oj-bind-if test='[[type=="html"]]'>
				    <span style="padding: 0px 15px;" class="RightRowContent" data-bind="html:empValue"></span>

				</oj-bind-if>



			    </div>
			    <!-- </oj-bind-if>-->
			</oj-bind-if>
		    </oj-bind-if>
		</oj-bind-if>
		<!--/ko-->
		<div>
		    <oj-text-area value="{{userInfo().comment}}" class="textarea-custom textarea_wid" disabled="{{inputState}}" rows="3" ></oj-text-area>
		</div>
	    </div>
	    <div class="notificationDetailsBodyBlockFooter">
		<oj-bind-if test='[[userInfo().templateId]]'>
		    <button class="primaryBtn" on-click="[[preview]]">
			Preview
		    </button>
		</oj-bind-if>
		<oj-bind-if test='[[allowedToCorrect ]]'>
		    <button class="primaryBtn prepareEdit" on-click="[[manager_edit_request]]">
			Update
		    </button>
		    <button class="primaryBtn alreadyEdit" on-click="[[save_edit_request]]">
			Save
		    </button>
		    <button class="secundaryBtn alreadyEdit" on-click="[[cancel_edit_request]]">
			Cancel
		    </button>
		</oj-bind-if>
	    </div>
	    <!--ko if: generalLoopVals().length>0 -->
	    <div class="notificationDetailsBodyBlock" style="margin-top: 30px;">
		<div class="notificationDetailsBodyBlockTitle">
		    <span>
			<i class="icofont icofont-ebook"></i>
			Approvals Information
		    </span>
		</div>
		<!--ko foreach: generalLoopVals-->
		<hr/>
		<div style="border:1px solid #444;padding: 5px;border-radius: 10px;">
		    <div class="managerContent">
			<div class="row notificationRow">
			    <span class="leftRowContent">Manager (<span data-bind="text:step"></span>)</span>
			    <span class="RightRowContent" data-bind="text:username"></span>
			</div>
			<div class="row notificationRow">
			    <span class="leftRowContent">Decision</span>
			    <span class="RightRowContent" data-bind="text:transactionType"></span>
			</div>
			<div class="row notificationRow">
			    <span class="leftRowContent">Date</span>
			    <span class="RightRowContent" data-bind="text:creationDate"></span>
			</div>
		    </div>
		    <hr/>
		    <!--ko foreach: segments--> 
		    <div class="row notificationRow">
			<span class="leftRowContent" data-bind="text:segementName"></span>
			<!--ko if: type == 'radiobutton' ||type == 'multiselect' ||type == 'select' ||type == 'checkbox'-->  
			<span class="RightRowContent" data-bind="text:empValueMeaning"></span>
			<!--/ko--> 
			<!--ko if: type == 'date'-->  
			<span class="RightRowContent" data-bind="text:$parents[1].dataConverterToShow(empValue)"></span>
			<!--/ko--> 
			<!--ko if: type != 'radiobutton' &&type != 'multiselect' &&type != 'select' &&type != 'checkbox' &&type != 'signature'&&type != 'date' -->  
			<span class="RightRowContent" data-bind="text:empValue"></span>
			<!--/ko--> 
			<!--ko if: type == 'signature' && empValue-->  
			<img style="max-height: 100px" class="RightRowContent" data-bind="attr: { src: signature }">
			<!--/ko--> 
		    </div>
		    <!--/ko-->
		    <div>
			<oj-text-area  value="{{comment}}" class="textarea-custom textarea_wid" rows="3" disabled="true"></oj-text-area>
		    </div>
		</div>
		<!--/ko--> 
	    </div>
	    <!--/ko--> 
	    <!--ko if: allowedToApprove()-->
	    <div class="notificationDetailsBodyBlock" style="margin-top: 30px;">
		<div class="notificationDetailsBodyBlockTitle">
		    <span>
			<i class="icofont icofont-sub-listing"></i>
			Current Approvals
		    </span>
		</div>
		<hr/>
		<dynamic-form style="width: 100%" data="{{data}}"></dynamic-form>
	    </div>
	    <!--/ko--> 
	</div>
	<oj-dialog style="width: 100%; top: 0px; left: 0px;border-radius: 0px;" cancel-behavior="icon" id="preview" class="oj-dialog-header" dialog-title="Preview">
	    <div slot="body">
		<section class="for-dialog preview">
		    <div id="previewContent">
		    </div>
		</section>
	    </div>
	    <div slot="footer">

	    </div>
	</oj-dialog>
    </div>
</div>
<span class="oj-navigationlist-item-label"></span>