<style>
    .mob_input{
        border-radius: 10px;
        height:53px;
        border:1px solid #EBEBEB;
        box-shadow: 0px 2px 2px;
        text-align:left;
        padding:0px 20px;
        width:100%;
        line-height: 20px;
        color: #ACACAC;
    }
    .container{
        margin-top:50%;

    }

    .lgn_btn {
        height:55px;
        box-shadow: 0px 3px 6px #666;
        background: linear-gradient(#3EBC68, #2B8649);
        width: 100%;
        border-radius:10px;
        font-size: 18px;
        color:#FFF;
        border: none;    
    }
    .inp_icon{
        position: absolute;
        right: 30px;
        font-size: 16px;
        top: 20px;
        color: #3EBC68;;
    }
    .form_group{
        margin-bottom:24px;
        position: relative;
    }
    #globalBody{
        background-image: url(css/images/BG_7.png);
        background-size: cover;
    }
</style>

<div class="oj-hybrid-padding">
    <div class="container">
        <div class="col-12 form_group">
            <input class="mob_input" on-keyup="[[loginOnEnterKey]]" id="username"
                   virtual-keyboard="email" data-bind="value:userName,attr: { 'placeholder': 'Username' }">
            <i class="fa fa-user inp_icon"></i>
        </div>
        <div class="col-12 form_group">
            <input type="password" class="mob_input" on-keyup="[[loginOnEnterKey]]" id="password"
                   data-bind="value:password,attr: { 'placeholder': 'Password' }">
            <i class="fa fa-key inp_icon"></i>
        </div>
        <div class="col-12 form_group ">
            <button type="button" on-click='[[signInBtn]]' class="lgn_btn"><span data-bind="text:'Login'"></span></button>
        </div>
        <!--    <div class="col-12 form-group">
                <oj-select-one id="langSelect" class="langDropdown lng-drpdn-stl" options="[[langs]]" on-value-changed="[[setLocale]]"
                               value="{{language}}">
                </oj-select-one>
            </div>-->
    </div>
</div>