<style>

    body{
        background-color: #fff;
    }
    .new_btn{
        height: 36px;
        box-shadow: 0px 3px 6px #666;
        background: linear-gradient(#3EBC68, #2B8649);
        width: 39%;
        border-radius: 9px;
        font-size: 17px;
        color: #FFF;
        border: none;
    }

    .oj-dialog{
        background: #fff;
    }

    .oj-dialog-header{
        background-image: unset;
        padding: 22px;
    }


    .in_text{
        box-shadow:  0 6px 10px;
        border: 1px solid #D4D4D4;
    }

    .rowLine {
        /*margin-top: 15px;*/
        margin-bottom: 15px;
    }


    .standard_btn {
        box-shadow: 0px 2px 4px #999595;
        /*box-shadow: 0px 3px 6px #666;*/
        background: linear-gradient(#3EBC68, #2B8649);
        border-radius: 9px;
        font-size: 15px;
        color: #FFF;
        border: none;
        padding: 14px 17px; 
        width: 48%;
    }

    .outline_btn {
        box-shadow: 0px 2px 4px #d5d5d5;
        background: transparent;
        border-radius: 9px;
        font-size: 15px;
        color: #2B8649;
        border: 1px solid #2B8649;
        padding: 10px;  
        line-height: 23px;
        width: 48%;
    }


    .oj-listbox-drop:not(.oj-listbox-hide-hover) .oj-listbox-results .oj-hover{
        background: #f5f5f5;

    }

    .input-txt{
        /*        border: 1px solid #D4D4D4;*/
        box-shadow:0px 6px 10px #0000000D;
        border-radius: 10px;
        color: #B5B5B5;
        font-size: 13px;
        height: 50px;
        /*padding: 10px 0px;*/
    }

    .txt-label{
        color: #022D68;
        margin-bottom: 15px;
        font-size: 18px;
        font-family: poppins;
        font-weight: lighter;
    }


    .oj-radioset .oj-selected .oj-radiocheckbox-icon::before{
        color: #2B8649;
    }

    .oj-checkboxset .oj-selected .oj-radiocheckbox-icon::before{
        color: #2B8649;
    }

    .oj-radio-label.oj-selected,.oj-checkbox-label.oj-selected{
        color: #2B8649;
    }

    .oj-text-field-input{
        color:#B5B5B5;
    }


    .oj-radioset, .oj-checkboxset{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .j-forms .input *{
        width: 100%;
    }


    .clonedInput{
        margin-bottom: 15px;
    }

    .oj-conveyorbelt-overflow-indicator{
        width: 15px!important;
        border: unset!important;
        min-width: 10px;
    }

    .oj-conveyorbelt-overflow-indicator.oj-hover .oj-conveyorbelt-overflow-button, .oj-conveyorbelt-overflow-button:hover{

        background-color: unset!important;
    }

    .oj-text-field .oj-text-field-container{
        position: relative;
        box-sizing: border-box;
        border-style: solid;
        transition: border-color 0.1s linear;
        border-color: #D4D4D4;
        border-width: 1px;
        border-radius: 9px;
        background-color: var(--oj-text-field-bg-color);
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow: hidden;
        height: 100%;
    }

    .clon-input{
        border-radius: 9px;
        height: 40px;
        border: 1px solid #D4D4D4;
        background: #fff;
    }


    .clone_btn {
        box-shadow: 0px 2px 4px #999595;
        /*box-shadow: 0px 3px 6px #666;*/
        background: linear-gradient(#3EBC68, #2B8649);
        border-radius: 9px;
        font-size: 15px;
        color: #FFF;
        border: none;
        padding: 10px
    }

    .outline_clone_btn {
        box-shadow: 0px 2px 4px #d5d5d5;
        background: transparent;
        border-radius: 9px;
        font-size: 15px;
        color: #2B8649;
        border: 1px solid #2B8649;
        padding: 9px;  
    }
    
    .table_seg_header{
        margin-bottom: 8px;
    }



</style>


<div class="container">

    <div class="row">
        <div class="col-12 rowLine">
            <oj-label class="txt-label">
                Request Name 
            </oj-label>
            <oj-input-text class="input-txt" value="" >
            </oj-input-text>

        </div>
        <div class="col-12 rowLine">
            <oj-label class="txt-label">
                Employee Name 
            </oj-label>
            <oj-input-text class="input-txt" value="" >
            </oj-input-text>

        </div>
        <div class="col-12 rowLine">
            <oj-label class="txt-label">
                Application</oj-label>
            <oj-checkboxset id="rowDirectionEnabledCheckboxset" value='["laptop","tablet"]' class='oj-choice-direction-row' label-hint="">
                <oj-option value="desktop">Desktop</oj-option>
                <oj-option value="laptop">Laptop</oj-option>
                <oj-option value="tablet">Tablet</oj-option>
            </oj-checkboxset>

        </div>

        <div class="col-12 rowLine">
            <oj-label class="txt-label">
                Request Type </oj-label>
            <oj-radioset value="laptop" class='oj-choice-direction-row' 
                         label-hint="">
                <oj-option value="desktop">Desktop</oj-option>
                <oj-option value="laptop">Laptop</oj-option>
                <oj-option value="tablet">Tablet</oj-option>
            </oj-radioset>

        </div>


        <div class="col-12 rowLine">
            <oj-label class="txt-label">
                Employee No
            </oj-label>
            <oj-input-number  class="input-txt" id="in2" 
                              label-hint="Input Number No Visual Label With Placeholder" label-edge="none"
                              min=0 max=100 placeholder="input number placeholder"></oj-input-number>
        </div>
        <div class="col-12 rowLine">
            <oj-label class="txt-label">
                Language
            </oj-label>
            <oj-select-one options="[[langs]]" value='US' >
            </oj-select-one>
        </div>
        <div class="col-12 rowLine">
            <oj-label class="txt-label">
                Start Date 
            </oj-label>
            <oj-input-date id="idate" value="" autocomplete="off"
                           label-hint="Input Date No Visual Label" label-edge="none"></oj-input-date>
        </div>
        <div class="col-12 rowLine">
            <oj-label class="txt-label">
                Select Style 
            </oj-label>
            <oj-select-many id="select1" value='["IE","FF"]'
                            label-edge="inside" label-hint="Select Many with Inline Options"
                            class="oj-form-control-max-width-md">
                <oj-option value="IE">Internet Explorer</oj-option>
                <oj-option value="FF">Firefox</oj-option>
                <oj-option value="CH">Chrome</oj-option>
                <oj-option value="OP">Opera</oj-option>
                <oj-option value="SA">Safari</oj-option>
            </oj-select-many>
        </div>
        <div class="col-12 rowLine">
            <oj-label class="txt-label">
                Choose File 
            </oj-label>
            <oj-file-picker  
                selection-mode="multiple" 
                on-oj-select='' 
                disabled='false'
                on-oj-invalid-select=''>
            </oj-file-picker> 

        </div>
        <div class="col-12 rowLine">
            <oj-label class="txt-label">
                Comment 
            </oj-label>
            <oj-text-area id="ta2" 
                          label-hint="Text Area No Visual Label With Placeholder" label-edge="none"
                          placeholder="text area placeholder" rows="10">
            </oj-text-area>
        </div>



        <div class='col-12 rowLine'>
            <oj-label class="txt-label">
                Table 
            </oj-label>
            <oj-conveyor-belt id="conveyorBelt" class="oj-lg-6 oj-md-9 oj-sm-12 oj-flex-item" data-oj-binding-provider="none">

                <div class="row j-forms col-12">

                    <div id="upload_image_sets" style="width:100%!important;" :class="[['clone-rightside-btn-1']]">
                        <div class="row">

                            <div class="span6 col table_seg_header" > Start Sate</div>
                            <div class="span6 col table_seg_header" > Employee Name</div>
                            <div class="span6 col table_seg_header" > Manager Name</div>

                            <div class="col-2"></div>
                        </div>

                        <div id="clonedInput1" class="clonedInput j-row toclone-widget-right toclone row">


                            <div class="span6 unit col value">
                                <div class="input">
                                    <input type="date" :class="[['clon-input']]"   data-date="" data-date-format="YYYY-MM-DD" value="">

                                </div>
                            </div>
                            <div class="span6 unit col value">
                                <div class="input">
                                    <input  type="text"   :class="[['clon-input']]"  value="" />
                                </div>
                            </div>
                            <div class="span6 unit col value">
                                <div class="input">
                                    <select class="clon-input" :class="[[]]" :value="">
                                        <option value=""></option>
                                        <option value="clone1">clone1</option>
                                        <option value="clone2">clone2</option>
                                        <option value="clone3">clone3</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-2 text-right">
                                <button class="clone clone_btn" ><i class="icofont icofont-plus"></i></button>
                                <button class="remove outline_clone_btn delete"><i class="icofont icofont-minus"></i></button>


                            </div>
                        </div>

                    </div>

                </div>
            </oj-conveyor-belt>
        </div>


        <div class="col-12 text-center">
            <button class="standard_btn"  >
                save
            </button>

            <button class="outline_btn"  >
                cancel
            </button>
        </div>
    </div>




</div>

