<div class="container">
    <div class="row">
        <div class="col-12 text-right">
            <button class="new_btn" id="reateNewRequest" on-click="[[addclick]]">
                <i class="icofont icofont-ui-add"></i>
                New
            </button>

        </div>

        <div  id="buttons" class="table-container" style="width: 100%; margin-top: 15px;">
            <div data-bind="text: widthcal"></div>


            <oj-table id='dynamicRequestsTable'
                      aria-label='Requests Table'
                      data='[[requestsPagingDataprovider]]'
                      columns='{{requestsColumnArray}}'
                      scroll-policy='loadMoreOnScroll'
                      columns-default='{"sortable": "enabled","resizable":"enabled"}'
                      style='width: 100%;'
                      selection-mode='{"row": "single", "column": "single"}' dnd='{"reorder": {"columns": "enabled"}}'>

                <template slot="actionsTemplate" data-oj-as="cell">


                    <div class="dropdown custom_dropdown">
                        <button type="button" class="btn  dropdown-toggle  btn-outline-secondary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-cog" aria-hidden="true"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right b-none contact-menu">
                            <a class="dropdown-item" on-click="[[showMore]]"  display="icons" :title="[[trns().details]]">
                                <i style="font-size: 20px;" class="icofont icofont-expand"></i>
                                Details
                            </a>
                            <!-- ko if: showCareerPathBtn=='show'-->
                            <a class="dropdown-item"   on-click="[[navigateToEmployee]]" display="icons" :title="View Career Path">
                                <i style="font-size: 20px;" class="icofont icofont-business-man-alt-1 "></i> View Career Path
                            </a>
                            <!-- /ko --> 
                            <oj-bind-if test="[[canDelete]]">
                                <a class="dropdown-item"   on-click="[[delete_empRequest]]" display="icons" :title="[[trns().delete]]">
                                    <i style="font-size: 20px;" class="icofont icofont-delete"></i> Delete
                                </a>
                            </oj-bind-if>
                            <a class="dropdown-item"  on-click="[[navigator]]"  display="icons" :title="[[trns().view]]">
                                <i style="font-size: 20px;" class="icofont icofont-eye-alt"></i> Preview
                            </a>
                            
                            <a class="dropdown-item"   on-click="[[edit_request]]" display="icons" :title="[[trns().update]]">
                                <i style="font-size: 20px;" class="icofont icofont-ui-edit"></i> Edit
                            </a>
                            
                            <a class="dropdown-item"   on-click="[[show_approvals]]" display="icons" :title="[[trns().approvals]]">
                                <i style="font-size: 20px;" class="icofont icofont-sub-listing"></i> Approvals
                            </a>
                            <a class="dropdown-item"  data-bind='style:{opacity: hasHistoryStyle(cell) == "false" ? 0.4 : 1,cursor:hasHistoryStyle(cell) == "false" ? "auto" : "pointer"}'  on-click="[[show_history]]" display="icons" :title="[[trns().RFCHistory]]">
                                <i style="font-size: 20px;" class="icofont icofont-history"></i> RFC History
                            </a>
                        </div>
                    </div> 

                </template>
                <oj-paging-control id="paging" class="col-12"  data="[[requestsPagingDataprovider]]" page-size="10" slot="bottom">
                </oj-paging-control>
            </oj-table>
        </div>
    </div>
</div>


<oj-dialog style="display:none;" cancel-behavior="icon" id="addRequestDialog" class="create-dialog" dialog-title="[[requestName()]]">

    <div class="oj-form">    
        <dynamic-form data="{{data}}"></dynamic-form>
    </div>
</oj-dialog>



<oj-dialog style="display:none;;" cancel-behavior="icon"  id="showApprovalsDialog" class="create-dialog" dialog-title="[[dynamicApprovalTitle]]">
    <!--                             id='dynamicApprovalsTable' aria-label='Approval Table'
                                          data='[[approvalsArray]]'
                                          columns='{{approvalColomns}}'
                                          style='width: 100%;'>
                                  
                                </oj-table>-->
    <table id="approvaLogTable" class="table table-bordered approvaLogTable">
        <tr>
            <td class="oj-table-column-header-cell" data-bind="text:trns().approvals"></td>
            <td class="oj-table-column-header-cell" data-bind="text:trns().actionDate"></td>
            <td class="oj-table-column-header-cell" data-bind="text:trns().approverName"></td>
            <td class="oj-table-column-header-cell" data-bind="text:trns().actionType"></td>
        </tr>
        <!--ko foreach: approvalsLog() -->
        <tr data-bind="class:$parent.getMappingClass(TRANSACTION_TYPE,NOTIFICATION_TYPE)">
            <td data-bind="text:NOTIFICATION_TYPE == 'FYI'?'FYI : '+ APPROVAL_NAME:'' + APPROVAL_NAME"></td>
            <td data-bind="text:CREATION_DATE"></td>
            <td data-bind="text:APPROVER_NAME"></td>

            <td>
                <!-- ko text:TRANSACTION_TYPE --><!--/ko-->
                <i style="font-size: x-large;float: right;" data-bind="class:$parent.getMappingIcon(TRANSACTION_TYPE,NOTIFICATION_TYPE)"></i>
            </td>
        </tr>
        <!--/ko-->
    </table>
</oj-dialog>
<oj-dialog style="display:none;;" cancel-behavior="icon"  id="showHistoryDialog" class="create-dialog" dialog-title="[[trns().RFCHistory]]">
    <table id="historyLogTable" class="table table-bordered approvaLogTable">
        <tr>
            <td class="oj-table-column-header-cell" data-bind="text:trns().creationDate"></td>
            <td class="oj-table-column-header-cell" data-bind="text:trns().segmentName"></td>
            <td class="oj-table-column-header-cell" data-bind="text:trns().oldValue"></td>
            <td class="oj-table-column-header-cell" data-bind="text:trns().newValue"></td>
        </tr>
        <!--ko foreach: historyLog() -->
        <tr>
            <td data-bind="text:editDate"></td>
            <td data-bind="text:segmentName"></td>
            <td data-bind="text:oldValue"></td>
            <td data-bind="text:newValue"></td>
        </tr>
        <!--/ko-->
    </table>
</oj-dialog>

<oj-dialog style="width: 100%; top: 0px; left: 0px;border-radius: 0px;" cancel-behavior="icon" id="showMore" class="oj-dialog-header" dialog-title="Preview">
	<div class="notificationDetailsBodyBlock">
	    <div class="notificationDetailsBodyBlockTitle">
		<span>
		    <!--<i class="icofont icofont-business-man-alt-3"></i>-->
		    <!-- ko text:reqInfo().requestName--><!-- /ko -->
		</span>
	    </div>
	    <hr/>
	    <div class="row notificationRow">
		<span class="leftRowContent">Step</span>
		<span class="RightRowContent" data-bind="text:reqInfo().step"></span>
	    </div>
	    <div class="row notificationRow">
		<span class="leftRowContent">Person</span>
		<span class="RightRowContent" data-bind="text:reqInfo().personFirstName"></span>
	    </div>
	    <div class="row notificationRow">
		<span class="leftRowContent">Created By</span>
		<span class="RightRowContent" data-bind="text:reqInfo().createdBy"></span>
	    </div>
	    <div class="row notificationRow">
		<span class="leftRowContent">Creation Date</span>
		<span class="RightRowContent" data-bind="text:reqInfo().creationDate"></span>
	    </div>
	</div>
    <div slot="footer">

    </div>
</oj-dialog>


<link rel="stylesheet" type="text/css" href="js/libs/j-forms.css">
<script type="text/javascript" src="js/libs/jquery-cloneya.min.js"></script>
<script type="text/javascript" src="js/libs/cloned-form.js"></script>


<style>

    .oj-dialog{
        background: #fff;
    }

    .oj-dialog-header{
        background-image: unset;
        padding: 22px;
    }


.dropdown-menu{
    left:-89px!important;
    top: 45px!important;
}
</style>