<link href="js/libs/jquery.filer/css/jquery.filer.css" type="text/css" rel="stylesheet">
<oj-dialog style="display:none;width: calc(100% - 700px)" id="runRetropay" class="create-dialog" dialog-title="[[trns().runRetropayProcess]]">

    <div class="oj-form">
        <div class="row">

            <oj-label class='col-lg-4 col-md-4 col-sm-4 col-xs-4' for="sitefilter">
            </oj-label>
            <oj-select-one class='col-lg-4 col-md-4 col-sm-4 col-xs-4'
                           id="entityId" >
            </oj-select-one>
        </div>
        <div class="row">
            <oj-label class='col-lg-4 col-md-4 col-sm-4 col-xs-4' for="sitefilter">
            </oj-label>
            <oj-input-date class='col-lg-4 col-md-4 col-sm-4 col-xs-4'
                           >
            </oj-input-date>
        </div>
        <div class="row">
            <oj-label class='col-lg-4 col-md-4 col-sm-4 col-xs-4' for="sitefilter">
                <!--/ko-->
            </oj-label>
            <oj-input-date class='col-lg-4 col-md-4 col-sm-4 col-xs-4'
                           >
            </oj-input-date>
        </div>
        <div class="row">
            <oj-label class='col-lg-4 col-md-4 col-sm-4 col-xs-4' for="sitefilter">
                <!--/ko-->
            </oj-label>
            <oj-input-date class='col-lg-4 col-md-4 col-sm-4 col-xs-4'
                           >
            </oj-input-date>
        </div>

        <oj-label class='col-lg-4 col-md-4 col-sm-4 col-xs-4' for="sitefilter">
        </oj-label>
        <oj-input-date class='col-lg-4 col-md-4 col-sm-4 col-xs-4'
                       >
        </oj-input-date>
    </div>
    <div class="row">
        <oj-label class='col-lg-4 col-md-4 col-sm-4 col-xs-4' for="sitefilter">
        </oj-label>
        <oj-input-date class='col-lg-4 col-md-4 col-sm-4 col-xs-4'
                       >
        </oj-input-date>
    </div>
    <div class="row">
        <oj-label class='col-lg-4 col-md-4 col-sm-4 col-xs-4' for="sitefilter">
        </oj-label>
        <oj-input-date class='col-lg-4 col-md-4 col-sm-4 col-xs-4'
                       >
        </oj-input-date>
    </div>
    <div slot="footer">
        <oj-button ><!--ko text: trns().run --><!--/ko-->
        </oj-button>
        <oj-button ><!--ko text: trns().cancel --><!--/ko-->
        </oj-button>
    </div>
</oj-dialog>
