<style>
    .disable-div {
        pointer-events: none;
    }
</style>
<link href="js/libs/jquery.filer.css" type="text/css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="js/libs/j-forms.css">




<div style="">
    <div id="segDev">
        <div class="row width" style="background: #D0D0D0;margin-bottom: 15px;">
            <oj-bind-if test='[[canAppyOnBehave]]'>
                <oj-bind-if test='[[onBehave]]'>
                    <oj-bind-if test='[[transactionType=="add"]]'>
                        <div   class="form-group row col-12 comp applyOnBehave" style="display: inline-flex;margin: 10px 0px 7px 0px !important;">
                            <div class="col-6 pl-0">
                                <oj-label class="" for="app">
                                    <oj-bind-text value="Apply On-behalf" class="textwhite"></oj-bind-text>
                                </oj-label>
                                <div class="d-flex align-items-center">
                                    <oj-checkboxset class="" style="margin-left:10px;"  label-hint="" on-value-changed="{{enabledApplayOnBehave}}">
                                        <oj-option value='1'></oj-option>
                                    </oj-checkboxset>
                                    <oj-label style="display:inline-block;margin-bottom:0px;">
                                        Enabled
                                    </oj-label>

                                </div>
                            </div>
                            <div class="col-6 pr-0">
                                <oj-select-one on-value-changed="[[updateSegments]]" class=" employee disable-div" id="empDiv" value='{{empId}}' options="{{empDate}}">
                                </oj-select-one>
                                <span id="requestNameError" class="messages popover-valid mytooltip1 mytooltip tooltip-effect-5 empReq" style="display: none">
                                    <i class="text-danger error icofont icofont-close-circled tooltip-item" on-click="[[test]]" style="background: unset"></i>
                                    <span id="requestNameErrorTooltip" class="mytext tooltip-content clearfix"> this Field Is Required</span>
                                </span>
                            </div>
                        </div>
                        <div id="empDiv" class="form-group col-sm-6 comp disable-div applyOnBehave" style="display: inline-flex">
                            <oj-label class="col-sm-5" for="app">
                                <oj-bind-text value="Employee" class="textwhite"></oj-bind-text>
                            </oj-label>

                        </div>
                    </oj-bind-if>
                </oj-bind-if>
            </oj-bind-if>
        </div>
        <div class="row width">

            <!--ko foreach: requestSegments() -->
            <oj-bind-if test='[[display == "1"]]'>
                <oj-bind-if test='[[type=="note" ]]'>


                    <div  class="form-group col-12 comp">
                        <oj-bind-text value="[[segementName]]" class="textwhite"></oj-bind-text>
                        <oj-label :id="{{prompt}}" :class="{{$parent.setRequiredClass(required,prompt)}}" for="app">
                            <oj-bind-text value="{{defaultValue}}" disabled></oj-bind-text>
                        </oj-label>
                    </div> 



                </oj-bind-if>

                <oj-bind-if test='[[type=="table"]]'>
                    <div  class="form-group col-12 comp">
                        <oj-label  for="app">
                            <oj-bind-text value="[[segementName]]" class="textwhite"></oj-bind-text>

                        </oj-label>

                        <oj-conveyor-belt id="conveyorBelt" class="" data-oj-binding-provider="none">

                            <div class="row j-forms ">

                                <div id="upload_image_sets" style="width:100%!important;" :class="[['clone-rightside-btn-1 columnCont_'+segmentId]]">
                                    <div class="row col-12">
                                        <!--ko foreach: valueSets -->
                                        <div class="span6 col table_seg_header" ><!-- ko text:colName--><!-- /ko--></div>
                                        <!--/ko-->
                                    </div>
                                    <!-- ko foreach: {data: tableArr, as: 'item'} -->
                                    <div :id="[['clonedInput'+($index()+1)]]" class="clonedInput j-row toclone-widget-right toclone row">
                                        <!--ko foreach: $parent.valueSets -->
                                        <oj-bind-if test='[[colType=="Input"]]'>
                                            <div class="span6 unit col value">
                                                <div class="input">
                                                    <input type="text"   :class="[['cell_'+segmentId+'_'+colId+'_  '+ $parents[2].setRequiredColumn(required) +'   clon-input']]"   data-bind="value: item[colName]"   
                                                           background-color: #ededee;
                                                           border-color: #ededee;"/>

                                                    <span  class="messages popover-valid mytooltip1  tooltip-effect-5 colError" style="display: none">
                                                        <i class="text-danger error icofont icofont-close-circled tooltip-item" style="background: unset"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </oj-bind-if>

                                        <oj-bind-if test='[[colType=="Date"]]'>
                                            <div class="span6 unit col value">
                                                <div class="input">
                                                    <input type="date"  :class="[['cell_'+segmentId+'_'+colId+'_  '+ $parents[2].setRequiredColumn(required) +'   clon-input']]"   data-date="" data-date-format="YYYY-MM-DD" data-bind="value: item[colName]">
                                                    <span  class="messages popover-valid mytooltip1  tooltip-effect-5 colError" style="display: none">
                                                        <i class="text-danger error icofont icofont-close-circled tooltip-item" style="background: unset"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </oj-bind-if>

                                        <oj-bind-if test='[[colType=="Select"]]'>
                                            <div class="span6 unit col value">
                                                <div class="input">
                                                    <select class="columnType"  :class="[['cell_'+segmentId+'_'+colId+'_  '+ $parents[2].setRequiredColumn(required) +'   clon-input']]"   :value="[[item[colName]]]">
                                                        <!--ko foreach: selectValueSets -->
                                                        <!--ko if: $parents[3].returnSelected(value,item[$parent.colName]) == 'selected' -->
                                                        <option data-bind="text:label,value:value"  selected='selected'></option>
                                                        <!--/ko-->
                                                        <!--ko if: $parents[3].returnSelected(value,item[$parent.colName])== 'false' -->
                                                        <option data-bind="text:label,value:value"></option>
                                                        <!--/ko-->

                                                        <!--/ko-->
                                                    </select>

                                                    <span  class="messages popover-valid mytooltip1  tooltip-effect-5 colError" style="display: none">
                                                        <i class="text-danger error icofont icofont-close-circled tooltip-item" style="background: unset"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </oj-bind-if>
                                        <oj-bind-if test='[[colType==""]]'>
                                            <div class="span6 unit col value">
                                                <div class="input">
                                                    <input type="text"    :class="[['cell_'+segmentId+'_'+colId+'_  '+ $parents[2].setRequiredColumn(required) +'   clon-input' ]]"   data-bind="value: item[colName]"  />
                                                </div>
                                            </div>
                                        </oj-bind-if>

                                        <!--/ko-->
                                        <div class="col-2 text-right">
                                            <button class="clone clone_btn" ><i class="icofont icofont-plus"></i></button>
                                            <button class="remove outline_clone_btn delete"><i class="icofont icofont-minus"></i></button>


                                        </div>
                                    </div>
                                    <!--/ko-->
                                </div>



                            </div>
                        </oj-conveyor-belt>
                    </div> 
                </oj-bind-if>
                <!--<oj-bind-if test='[[type=="formula"]]'>
                    <div  class="form-group col-sm-12 comp" style="display: inline-flex">
                        <oj-label class="col-sm-2" for="app">
                            <oj-bind-text value="[[segementName]]" class="textwhite"></oj-bind-text>
                        </oj-label>
                        <oj-text-area style="width:100%" :class="{{$parent.setRequiredClass(required,prompt)}}" max-rows="1"  value="{{formula}}" disabled></oj-text-area>
                    </div> 
               </oj-bind-if>-->
                <oj-bind-if test='[[type!="note" && type !="table"]]'>
                    <!--<oj-bind-if test='[[type!="formula"]]'>-->
                    <div  class="form-group col-12 comp  ">
                        <oj-label class="" for="app">
                            <span class="starChart" for="app">
                                <oj-bind-text value="{{$parent.setStarChart(required)}}" class="starChart"></oj-bind-text>
                            </span>

                            <oj-bind-text value="[[segementName]]" class="textwhite"></oj-bind-text>

                        </oj-label>
                        <oj-bind-if test='[[type=="input"]]'>
                            <oj-input-text :class="{{$parent.setRequiredClass(required,prompt)}}" on-blur="{{$parent.getDepend}}" value="{{empValue}}"></oj-input-text>
                        </oj-bind-if>
                        <oj-bind-if test='[[type=="number"]]'>

                            <oj-input-number min=0 step=1
                                             :class="{{$parent.setRequiredClass(required,prompt)}}" 
                                             on-blur="{{$parent.getDepend}}" 
                                             converter= '{"type":"number","options": {"style": "decimal", "roundingMode": "HALF_DOWN","maximumFractionDigits": 0, "useGrouping": false}}' 
                                             on-keyup="{{$parent.getInputNumberValue}}" 
                                             value="{{$parent.getNumeric(empValue)}}" 
                                             on-value-changed="{{$parent.getInputNumberValue}}" 
                                             on-keypress=[[$parent.eatNonNumbers]]>
                            </oj-input-number>

                        </oj-bind-if>
                        <oj-bind-if test='[[type=="file"]]'>
                            <div class="col-12">
                                <div class="jFiler-items jFiler-row">
                                    <ul class="jFiler-items-list jFiler-items-default">
                                        <!-- ko foreach: empValue -->
                                        <li class="jFiler-item" style="padding: 5px 20px" :data-jfiler-index="{{$index}}">
                                            <div class="jFiler-item-container">
                                                <div class="jFiler-item-inner">
                                                    <div class="jFiler-item-icon pull-left">
                                                        <i class="icofont icofont-attachment"></i>
                                                    </div>
                                                    <div class="jFiler-item-info pull-left">
                                                        <div class="jFiler-item-title" :title="[[name]]"><oj-bind-text value='{{name}}' ></oj-bind-text></div>
                                                        <div class="jFiler-item-others">
                                                            <span>size: <oj-bind-text value='{{$parents[1].round(size)}}' ></oj-bind-text> KB</span>
                                                            <span>type: <oj-bind-text value='{{type}}' ></oj-bind-text></span>
                                                            <span class="jFiler-item-status"></span>
                                                        </div>
                                                        <div class="jFiler-item-assets">
                                                            <ul class="list-inline">
                                                                <li><i style="color:999;font-size: 20px;cursor: pointer" class="icofont icofont-ui-delete" on-click="[[$parents[1].delete_file]]"></i></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                        <!--/ko  -->
                                    </ul>
                                </div>
                                <oj-file-picker :class="{{$parent.setRequiredClass(required,prompt)}}" data-uploaded="false"  selection-mode="multiple" on-oj-select='[[$parent.selectListener]]' value="{{empValue}}" style="max-height: 34px;min-height: 0px;"> </oj-file-picker> 
                            </div>
                        </oj-bind-if>
                        <oj-bind-if test='[[type=="date"]]'>
                            <oj-input-date converter=[[$parent.dateConverter]] :class="{{$parent.setRequiredClass(required,prompt)}}" on-value-changed="{{$parent.getDepend}}" label-hint="Enabled no value" value="{{empValue}}"></oj-input-date>
                        </oj-bind-if>
                        <oj-bind-if test='[[type=="textarea"]]'>
                            <oj-text-area :class="{{$parent.setRequiredClass(required,prompt)}}" on-blur="{{$parent.getDepend}}" value="{{empValue}}"></oj-text-area>
                        </oj-bind-if>
                        <oj-bind-if test='[[type=="radiobutton"]]'>
                            <oj-radioset :class="{{$parent.setRequiredClass(required,prompt)}}" on-value-changed="{{$parent.getDepend}}" label-hint="Enabled" value="{{empValue}}" options="[[$parent.createDataProvider(valueSets)]]">

                            </oj-radioset>
                        </oj-bind-if>
                        <oj-bind-if test='[[type=="checkbox"]]'>
                            <oj-checkboxset :class="{{$parent.setRequiredClass(required,prompt)}}"  label-hint="Enabled" on-value-changed="{{$parent.getCheckBoxValue}}" value="{{$parent.setCheckVal(empValue)}}" options="[[$parent.createDataProvider(valueSets)]]">

                            </oj-checkboxset>
                        </oj-bind-if>
                        <oj-bind-if test='[[type=="signature"]]'>
                            <oj-checkboxset :class="{{$parent.setRequiredClass(required,prompt,type)}}"  label-hint="Enabled" on-value-changed="{{$parent.getCheckBoxValue}}" value="{{$parent.setCheckVal(empValue)}}">
                                <oj-option value="[[$parent.personId]]"></oj-option>
                            </oj-checkboxset>
                            <img style="max-height: 100px" class="col-5" data-bind="attr: { src: $parent.signature }">
                        </oj-bind-if>
                        <oj-bind-if test='[[type=="html"]]'>
                            <span style="padding: 0px 15px;width: 100%;" data-bind="class:$parent.setRequiredClass(required,prompt,type),html:empValue"></span>

                        </oj-bind-if>
                        <oj-bind-if test='[[type=="multiselect"]]'>
                            <oj-select-many :class="{{$parent.setRequiredClass(required,prompt)}}" on-value-changed="{{$parent.getCheckBoxValue}}" value="{{$parent.setCheckVal(empValue)}}" style="max-width:20em" value="{{empValue}}" options="[[valueSets]]">
                            </oj-select-many>

                        </oj-bind-if>
                        <oj-bind-if test='[[type=="select"]]'>

                            <oj-select-one :class="{{$parent.setRequiredClass(required,prompt)}}" on-value-changed="{{$parent.getDepend}}" on-value-option-changed="{{$parent.txt}}" option-renderer="[[$parent.optionDraw]]" value='{{empValue}}' options="{{valueSets}}">
                            </oj-select-one>
                        </oj-bind-if>
                        <oj-bind-if test='[[type=="formula"]]'>
                            <oj-text-area :class="{{$parent.setRequiredClass(required,prompt)}}"  max-rows="1"  rows="1"  value="{{formula}}" disabled></oj-text-area>
                        </oj-bind-if>

                        <oj-bind-if test='[[required=="1"]]'>
                            <span id="requestNameError" class="messages popover-valid mytooltip1 mytooltip tooltip-effect-5" style="display: none">
                                <i class="text-danger error icofont icofont-close-circled tooltip-item" on-click="[[$parent.test]]" style="background: unset"></i>
                                <span id="requestNameErrorTooltip" class="mytext tooltip-content clearfix">This Field Is Required</span>
                            </span>
                            <!--                <span class="comp_messages messages popover-valid mytooltip1 Error col-sm-1" style="display: none">
                                                <i class="comp_text-danger text-danger error icofont icofont-close-circled" on-click="[[$parent.test]]" ></i>
                                                <span class="comp_dynamicMytext dynamicMytext ErrorTooltip">This Feild is required</span>
                                            </span>-->
                        </oj-bind-if>
                    </div>
                    <!--</oj-bind-if>-->
                </oj-bind-if>
            </oj-bind-if>
            <!--  /ko -->

            <hr style="width: 100%"/>
            <div class="col-12" >
                <label >Comment</label>
                <oj-text-area value="{{newRequestComment}}" class="textarea_wid" rows="3"></oj-text-area>
            </div>
        </div>
    </div>
    <div id="preDev"></div>
</div>
<div slot="footer" style="width:100%">
    <div class="row" style="text-align: right; padding: 5px;">
        <oj-bind-if test='[[transactionType=="add"]]'>
            <div class='col-12  btnContainer'>
                <button class="standard_btn btn-submit" on-click='[[newRequest]]' >
                    <i class="icofont icofont-rotation"></i>
                    Submit
                </button>
                <oj-bind-if test='[[templateId]]'>
                    <button  class="standard_btn btn-submit" on-click='[[preview]]' >
                        <i class="icofont icofont-rotation"></i>
                        Preview
                    </button>
                </oj-bind-if>
            </div>
        </oj-bind-if>
        <oj-bind-if test='[[transactionType=="update"]]'>

            <div class='col-12 '>
                <div class="dropdown-success dropdown open">
                    <button  class="standard_btn  btn-action"  type="button" id="dropdown-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions <i class="icofont icofont-rounded-down"></i> </button>
                    <div class="dropdown-menu  actions" aria-labelledby="dropdown-3" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 40px, 0px); top: 0px; left: 0px; will-change: transform;">
                        <a class="dropdown-item waves-light waves-effect" data-bind="click:function(){redirectReq('DLG')}"><i class="icofont icofont-reply-all"></i> Delegate</a>
                        <a class="dropdown-item waves-light waves-effect" data-bind="click:function(){redirectReq('ASN')}"> <i class="icofont icofont-reply"></i> Reassign</a>
                        <a  class="dropdown-item waves-light waves-effect" on-click='[[create_request.bind($data,"CORRECT")]]' > <i class="icofont icofont-recycle"></i> Return for correction</a>
                        <a class="dropdown-item waves-light waves-effect" on-click='[[create_request.bind($data,"REJECTED")]]' >
                            <i class="icofont icofont-close-circled"></i>
                            Reject
                        </a>
                        <a  class="dropdown-item waves-light waves-effect" on-click='[[create_request.bind($data,"APPROVED")]]' >
                            <i class="icofont icofont-check-circled"></i>
                            Approve
                        </a>
                    </div>
                </div>
            </div>
        </oj-bind-if>
    </div>

</div>

<oj-dialog style="display:none;width:auto;" cancel-behavior="icon" id="preview" class="create-dialog" dialog-title="preview">

    <div slot="body">
        <section class="for-dialog preview">
            <div id="previewContent">
            </div>
        </section>
    </div>
    <div slot="footer">

    </div>
</oj-dialog>

<oj-dialog style="display:none;" id="delegateDialog" cancel-behavior="icon" class="create-dialog" dialog-title="{{actionDialog}}">

    <div slot="body">
        <section class="for-dialog addOrEdit">
            <div class="oj-flex-item deprecated-col-default-width id-contain" style="display:none">
                <oj-input-text  value="{{delegate().action}}" readonly></oj-input-text>
            </div> 
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <oj-label>Choose User </oj-label>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                <oj-select-many value='{{delegate().personId}}' options="[[lookups().userAdmin]]" style="max-width: 100%">
                </oj-select-many>
            </div>

        </section>
    </div>
    <div slot="footer">
        <button  style="margin-right: 10px;" class="standard_btn btn-submit" on-click='[[runDelegate]]'>
            <i class="icofont icofont-save"></i>
            Save
        </button>

    </div>
</oj-dialog>


<style>
    .j-forms{

        box-shadow: none!important;
        border: none!important;
        background-color:transparent!important;
    }
    .toclone-widget-right{

        padding-right:0px!important;
    }

    .clonedInput input[type="date"]{
        width: 100%;
        height: 30px;
    }
    .table_seg_header,.clonedInput select,.clonedInput input{
        font-size:12px !important;
    }

    .oj-label-group {
        display: inline-flex;
        vertical-align: unset;
    }

    .j-forms{

        padding-right: 15px;
        padding-left: 15px;

    }



    .clon-input{
        border-radius: 9px!important;
        height: 40px!important;
        border: 1px solid #D4D4D4!important;
        background: #fff
    }


    .clone_btn {
        box-shadow: 0px 2px 4px #999595;
        /*box-shadow: 0px 3px 6px #666;*/
        background: linear-gradient(#3EBC68, #2B8649);
        border-radius: 9px;
        font-size: 15px;
        color: #FFF;
        border: none;
        padding: 10px
    }

    .outline_clone_btn {
        box-shadow: 0px 2px 4px #d5d5d5;
        background: transparent;
        border-radius: 9px;
        font-size: 15px;
        color: #2B8649;
        border: 1px solid #2B8649;
        padding: 9px;  
    }

    .table_seg_header{
        margin-bottom: 8px;
    }


    .j-forms .input *{
        width: 100%;
        border-radius: 9px;
        height: 40px;
        border: 1px solid #D4D4D4;
        background: #fff;
    }

    .oj-conveyorbelt-overflow-indicator{
        width: 15px!important;
        border: unset!important;
        min-width: 10px;
    }

    .oj-conveyorbelt-overflow-indicator.oj-hover .oj-conveyorbelt-overflow-button, .oj-conveyorbelt-overflow-button:hover{

        background-color: unset!important;
    }


    .standard_btn {
        box-shadow: 0px 2px 4px #999595;
        border-radius: 9px;
        font-size: 15px;
        color: #FFF;
        border: none;
        padding: 8px 10px;

    }

    .btn-submit{
        background: linear-gradient(#3EBC68, #2B8649);
        width: 48%
    }

    .btn-approve{
        background: #fff;
        border:1px solid #3EBC68;

        color: #3EBC68;
    }
    .btn-reject{
        background: #fff;
        border:1px solid #C0000B;
        color: #C0000B;
    }

    .btnContainer{
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .btn-action{
        border: 1px solid #868e96;
        background: #fff;
        color:#252729;
        width: 48%;
    }


    .oj-dialog{
        background: #fff;
    }

    .oj-dialog-header{
        background-image: unset;
        padding: 22px;
    }

    .actions .icofont{
        font-size: 20px;
    }

    .starChart{
        color: #C0000B;
        font-size: 17px;
    }


</style>


