
.btn_not_in_table{
        padding: 10px!important;
        border-radius: 5px;
    }
    .oj-filepicker-clickable,.oj-filepicker-dropzone{
        height: 34px!important;
    }
.form-group .popover-valid {
    position: absolute;
    right: 40px;
    top: 7px;
}
.mytooltip {
    display: inline;
    position: relative;
    z-index: 999;
}
.mytooltip .tooltip-item {
    background: rgba(0,0,0,0.1);
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
    padding: 0 10px;
}
.text-danger {
    color: #eb3422 !important;
}
.mytooltip1 .mytext {
    visibility: hidden;
    width: max-content;
    background: linear-gradient(to right, #ef5f51 0%, #bf2111 51%, #ef5f51 100%);
    color: #fff;
    z-index: 1;
    bottom: 100%;
    left: 60%;
    margin-left: -130px;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
}
.tooltip-effect-5 .tooltip-content {
    width: 180px;
    margin-left: -90px;
    -webkit-transform-origin: 50% calc(106%);
    -ms-transform-origin: 50% calc(106%);
    transform-origin: 50% calc(106%);
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
    -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
    transition: opacity 0.2s, -webkit-transform 0.2s;
    transition: opacity 0.2s, transform 0.2s;
    transition: opacity 0.2s, transform 0.2s, -webkit-transform 0.2s;
        transition-timing-function: ease, ease, ease;
    -webkit-transition-timing-function: ease,cubic-bezier(0.17, 0.67, 0.4, 1.39);
    transition-timing-function: ease,cubic-bezier(0.17, 0.67, 0.4, 1.39);
}
.mytooltip .tooltip-content {
    position: absolute;
    z-index: 9999;
    width: 360px;
    left: 50%;
    margin: 0 0 20px -180px;
        margin-left: -180px;
    bottom: 100%;
    text-align: left;
    font-size: 14px;
    line-height: 30px;
    -webkit-box-shadow: -5px -5px 15px rgba(48,54,61,0.2);
    box-shadow: -5px -5px 15px rgba(48,54,61,0.2);
    background: #2b2b2b;
    opacity: 0;
    cursor: default;
    pointer-events: none;
}
