/*
    Document   : override
    Created on : <date>
    Author     : <author>
    Description:
        This is where any of your application specific styles should be included
*/
@font-face {
    font-family:"poppins";
    src:url("fonts/Poppins-Font/Poppins-Light.ttf") format("truetype");
    font-display:auto;font-style:light;font-weight:100;
}
@font-face {
    font-family:"poppins";
    src:url("fonts/Poppins-Font/Poppins-Medium.ttf") format("truetype");
    font-display:auto;font-style:normal;font-weight:400;
}
@font-face {
    font-family:"poppins";
    src:url("fonts/Poppins-Font/Poppins-Bold.ttf") format("truetype");
    font-display:auto;font-style:bold;font-weight:900;
}
*{
    box-sizing: border-box;
}
body{
    font-family: "poppins",sans-serif;
}
.sendOffScreen {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.demo-oracle-icon {
    width:137px;
    height:18px
}

.demo-oracle-icon:before {
    content:url("images/oracle_logo.svg")
}

html:not([dir="rtl"]) .demo-oracle-icon {
    padding-right:4px
}

html[dir="rtl"] .demo-oracle-icon {
    padding-left:4px
}

.demo-oracle-icon:before {
    display:inline
}

.demo-appheader-avatar {
    width:24px;
    height:24px
}

.demo-appheader-avatar:before {
    content:url("images/avatar_24px.png")
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .demo-appheader-avatar:before {
        content:url("images/avatar_24px_2x.png");
        -webkit-transform:translate(-25%, -25%) scale(0.5);
        transform:translate(-25%, -25%) scale(0.5)
    }
}

.oj-web-applayout-header{
    background-color: #0077B6;
    height: 70px;
    color: #fff;
}
.oj-web-applayout-max-width{
    height:100%
}
.oj-flex-bar-middle{
    text-transform: capitalize;
    font-size: 18px;
    text-align: center;
    display: inline-block;
    width: 100%;
}
.oj-web-applayout-offcanvas-icon{
    color:#fff;
}
oj-module{
    z-index:100;
}
.loaderSpin {
    border: 16px solid #bfbbbb;
    border-top-color: rgb(191, 187, 187);
    border-top-style: solid;
    border-top-width: 16px;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    position: fixed;
    top: 40%;
    left: 36%;
    z-index: 10263;
}
#loader{
    background-color: rgb(220,220,220,0.4);
    width: 100%;
    height: 100%;
    display: none;
    z-index: 9998;
    text-align: center;
    position: fixed;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.oj-table-data-cell{
    overflow:auto;
}

.oj-table-scroller,.oj-table-scroll-vertical:not(.oj-table-sticky) .oj-table-body, .oj-table-scroll-vertical .oj-table-scroller{
    overflow: unset;
}


.notificationDetailsHeader{
    height: 223.93px;
    background-color: #0077B6
}
.notificationDetailsHeaderImg{
    width: 120px;
    height: 120px;
    border: 5px solid #2B8649;
    border-radius: 50%;
    margin: auto;
    display: block;
    font-size: 100px;
    text-align: center;
    padding: 3px;
}
.notificationDetailsHeaderTitle{
    font-size: 20px;
    font-weight: normal;
    font-family: Poppins;
    color: #fff;
    margin: 9px auto 0;
    display: block;
    text-align: center;
    height: 28px;
}
.notificationDetailsHeaderDesc{
    font-size: 14px;
    font-weight: lighter;
    font-family: Poppins;
    color: #fff;
    margin: 0.5px auto 0;
    display: block;
    text-align: center;
    height: 20px;
}
.notificationDetailsBody{
    padding: 18px;
}
.notificationDetailsBodyBlockTitle{
    margin-bottom: 7px;
}
.notificationDetailsBodyBlockTitle i{
    color: #03045E;
}
.notificationDetailsBodyBlockTitle span{
    font-size: 16px;
    color: #444444;
    font-family: 'Poppins';
    font-weight: bold;
}
.notificationDetailsBodyBlock{
    border: 1px solid #D4D4D4;
    border-radius: 10px;
    box-shadow: 0px 15px 20px 0px rgba(0,0,0,0.26);
    padding: 17px 17px 20px 20px;
}
.notificationRow{
    margin: 0px;
    display: inline-block;
    width: 100%;
    margin-bottom: 7px;
}
.leftRowContent{
    font-family: Poppins;
    font-size: 16px;
    font-weight: normal;
    color: #022D68;
    float: left;
}
.RightRowContent{
    font-family: Poppins;
    font-size: 14px;
    font-weight: lighter;
    color: #022D68;
    float: right;
}
.primaryBtn{
    font-size: 18px;
    font-family: Poppins;
    width: 46%;
    font-weight: normal;
    color: #fff;
    height: 53px;
    border-radius: 9px;
    background: linear-gradient(180deg, rgba(62,188,104,1) 0%, rgba(43,134,73,1) 100%);
    margin-left: 8px;
    margin-top: 20px;
}
.secundaryBtn{
    font-size: 18px;
    width: 46%;
    font-family: Poppins;
    font-weight: normal;
    height: 53px;
    border-radius: 9px;
    margin-left: 8px;
    border: 1px solid #C0000B;
    color: #C0000B;
    background: #fff;
    margin-top: 20px;
}
.notificationDetailsBodyBlockFooter{
    display: flex;
}
.oj-dialog{
    background: #fff;
}

.oj-dialog-header{
    background-image: unset;
    padding: 22px;
}
.oj-navigationlist-item-label{
    font-size:20px;
}
.oj-navigationlist-item-label *{
    font-size:20px;
}

.new_btn{
    box-shadow: 0px 2px 3px #bbb6b6;
    background: linear-gradient(#023E8A, #03045E);
    border-radius: 9px;
    font-size: 15px;
    color: #FFF;
    border: 1px #D4D4D4;
    padding: 5px 10px;
}

.new_btn i {
    font-size: 13px;
}
.oj-dialog{
    position: fixed;
    top: 0.124969px;
    left: 0.25px;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}
.managerContent span{
    color: #fff;
}
.managerContent{
    background: #0077b6;
    padding: 5px;
    border-radius: 9px;
}
.oj-table-container{
        overflow: unset;
    }