<!DOCTYPE html>

<html lang="en-us">
    <head>
        <title>Oracle JET Starter Template - Web Nav Drawer</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1">
        <link rel="icon" href="css/images/favicon.ico" type="image/x-icon" />

        <!-- This is the main css file for the default theme -->
        <!-- injector:theme -->
        <!-- endinjector -->

        <!-- This contains icon fonts used by the starter template -->
        <link rel="stylesheet" type="text/css" href="css/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="css/icofont/css/icofont.css">
        <!-- This is where you would add any app specific styling -->
        <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css"/>

        <link rel="stylesheet" href="css/app.css" type="text/css"/>

    </head>
    <body class="oj-web-applayout-body">
        <div id="loader">
            <div class="loaderSpin"></div>
        </div>
        <!-- Template for rendering navigation items shared between nav bar and nav list -->
        <script type="text/html" id="navTemplate">
                <li :hidden="[[$data.detail.hidden]]">
                    <a href="#">
                        <span :class="[[$data.detail.iconClass]]"></span>
                        <oj-bind-text value="[[$data.detail.label]]"></oj-bind-text>
                    </a>
                </li>
        </script>

    <div id="globalBody" class="oj-offcanvas-outer-wrapper oj-offcanvas-page">

        <div id="announce" tabindex="-1" class="sendOffScreen" :aria-live="[[manner]]" aria-atomic="true">
            <p id="ariaLiveMessage"><oj-bind-text value="[[message]]"></oj-bind-text></p>
        </div>

        <div id="navDrawer" role="navigation" class="oj-contrast-marker oj-web-applayout-offcanvas oj-offcanvas-start">
            <oj-navigation-list id="navDrawerList" data="[[navDataProvider]]"
                                edge="start"
                                item.renderer="[[KnockoutTemplateUtils.getRenderer('navTemplate', true)]]"
                                on-click="[[toggleDrawer]]"
                                selection="{{selection.path}}">
            </oj-navigation-list>
        </div>
        <div id="pageContent" class="oj-web-applayout-page">
            <oj-bind-if test="[[selection.path() !='login']]">
                <header role="banner" class="oj-web-applayout-header">
                    <div class="oj-web-applayout-max-width oj-flex-bar oj-sm-align-items-center">
                        <!-- Offcanvas toggle button -->
                        <div class="oj-flex-bar-start oj-md-hide">
                            <oj-button id="drawerToggleButton" class="oj-button-lg" on-oj-action="[[toggleDrawer]]" chroming="borderless" display="icons">
                                <span slot="startIcon" class="oj-web-applayout-offcanvas-icon"></span>
                                <span>Application Navigation</span>
                            </oj-button>
                        </div>
                        <div class="oj-flex-bar-middle oj-sm-align-items-baseline">
                            <oj-bind-text value="[[pageTitle]]"></oj-bind-text>
                        </div>

                    </div>
                    <div role="navigation" class="oj-web-applayout-max-width oj-web-applayout-navbar">
                        <oj-navigation-list id="navTabBar" class="oj-sm-only-hide oj-md-condense oj-md-justify-content-flex-end"
                                            data="[[navDataProvider]]"
                                            edge="top"
                                            item.renderer="[[KnockoutTemplateUtils.getRenderer('navTemplate', true)]]"
                                            selection="{{selection.path}}">
                        </oj-navigation-list>
                    </div>
                </header>
            </oj-bind-if>
            <oj-module role="main" class="oj-web-applayout-max-width oj-web-applayout-content" config="[[moduleAdapter.koObservableConfig]]">
            </oj-module>
            <div id="msg_modal" class="sweet-alert showSweetAlert visible" data-custom-class="" data-has-cancel-button="false" data-has-confirm-button="true" data-allow-outside-click="false" data-has-done-function="false" data-keyboard="false"  data-animation="pop" data-timer="null" style="display: none; margin-top: -171px;" >

                <div id="customErrorMassege" style="display: none;">
                    <span class="sa-x-mark">
                        <span class="sa-line sa-left"></span>
                        <span class="sa-line sa-right"></span>
                    </span>
                </div>
                <div class="sa-icon sa-success animate" style="display: none;"> 
                    <span class="sa-line sa-tip animateSuccessTip"></span> 
                    <span class="sa-line sa-long animateSuccessLong"></span> 
                    <div class="sa-placeholder"></div> 
                    <div class="sa-fix"></div> 
                </div>
                <h2 id="msg" style="display: block;"></h2> <br>
                <p id="sub_msg" style="display: block;"></p> 
                <div class="sa-button-container"> 
                    <div class="sa-confirm-button-container"> 
                        <button on-click="[[close_msg]]" class="confirm" tabindex="1" style="display: inline-block; background-color: rgb(140, 212, 245); box-shadow: rgba(140, 212, 245, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.05) 0px 0px 0px 1px inset;">OK</button>  
                    </div> 
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="js/libs/jquery.min.js"></script>
    <script type="text/javascript" src="js/libs/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/libs/popper.min.js"></script>
    <script type="text/javascript" src="js/libs/bootstrap.min.js"></script>
    <!-- This injects script tags for the main javascript files -->
    <!-- injector:scripts -->
    <!-- endinjector -->
</body>

</html>
